.board-main {
    .board-logo {
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        background-color: #0081cf;
        margin-bottom: 10px;
        color: white;
        font-size: 30px;
        font-weight: 600;
    }

    .board-search {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        .ant-picker-input {
            width: 114px;
        }
    }

    .board-list {
        padding: 10px 20px;
    }

    .content-pre {
        // max-width: 900px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.ant-tooltip-placement-bottom {
    max-width: 900px;
}

.upload-btn {
    color: white;
    background-color: #67c23a;
    border-color: #67c23a;
    &:hover {
        color: white !important;
        background-color: #95d475;
        border-color: #95d475 !important;
    }
}

// .ant-upload-list {
//     display: none;
// }
