.board-main {
    .board-logo {
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        background-color: #0081cf;
        margin-bottom: 10px;
        color: white;
        font-size: 30px;
        font-weight: 600;
    }

    .board-search {
        padding: 10px 20px;
        .ant-picker-input {
            width: 114px;
        }
    }

    .board-list {
        padding: 10px 20px;
    }
}
